{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card card-blue text-center">
                    <div class="card-body">
                        <form method="POST" id="gta-map-form">
                            <input type="hidden" id="x-value" name="x-value" value="-1">
                            <input type="hidden" id="y-value" name="y-value" value="-1">
                            <input type="submit" class="d-none" id="map-save-button" name="action" value="map-save">
                            <div class="row">
                                <div class="col-lg-6 pt-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="x-size" id="radio-1" value="5">
                                        <label class="form-check-label" for="radio-1">Klein</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="x-size" id="radio-2" value="10" checked>
                                        <label class="form-check-label" for="radio-2">Mittel</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="x-size" id="radio-3" value="25">
                                        <label class="form-check-label" for="radio-3">Groß</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-secondary" name="action" value="map-delete">
                                        Letzten Wert löschen
                                    </button>
                                    <button type="submit" class="btn btn-danger" name="action" value="map-regenerate">
                                        Karte zurücksetzen
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row mt-3 mb-3 text-center">
            <div class="col-lg-12">
                <img src="{{ asset('img/map/map-edited.png?' ~ mapEditedFileTime) }}" alt="GTA Map" id="gta-map">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptbottom %}
    {{ parent() }}
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}