{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card card-blue text-center">
                    <div class="card-body">
                        <form method="POST" id="gta-map-form">
                            <input type="hidden" id="x-value" name="x-value" value="-1">
                            <input type="hidden" id="y-value" name="y-value" value="-1">
                            <input type="submit" class="d-none" id="map-save-button" name="action" value="map-save">
                            <div class="row">
                                <div class="col-lg-6 pt-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="x-size" id="radio-1" value="5">
                                        <label class="form-check-label" for="radio-1">Klein</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="x-size" id="radio-2" value="10" checked>
                                        <label class="form-check-label" for="radio-2">Mittel</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="x-size" id="radio-3" value="25">
                                        <label class="form-check-label" for="radio-3">Groß</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-delete">
                                        Letzten Wert löschen
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-reset">
                                        Karte zurücksetzen
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row mt-3 mb-3 text-center">
            <div class="col-lg-12">
                <img src="{{ asset('img/map/map-edited.png?' ~ mapEditedFileTime) }}" alt="GTA Map" id="gta-map">
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-label">Letzten Wert löschen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center fw-bold">
                    Soll der letzte Wert wirklich gelöscht werden?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                    <form method="POST">
                        <button type="submit" class="btn btn-primary" name="action" value="map-delete">
                            Letzten Wert löschen
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-reset" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-label">Karte zurücksetzen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center fw-bold">
                    Soll die Karte wirklich komplett zurückgesetzt werden?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                    <form method="POST">
                        <button type="submit" class="btn btn-primary" name="action" value="map-reset">
                            Karte zurücksetzen
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptbottom %}
    {{ parent() }}
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}