body {
    background-color: #e0e0e0;
}

.card-blue {
    border-top: 1px solid #0d6efd;
}

.page-title {
    font-size: 1.75rem;
}

.root {
    width: 100%;
    text-align: center;
}

#gta-map {
    cursor: pointer;
}

.click-icon {
    cursor: pointer;
}

.click-icon:hover {
    opacity: 0.75;
}