{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3 mb-3">
        <div class="card card-blue">
            <div class="card-body">
                <h5 class="card-title">Auswertung</h5>

            </div>
        </div>
    </div>
{% endblock %}
