{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <img src="{{ asset('img/') ~ picture }}" alt="Index image">
        </div>
    </div>
{% endblock %}