{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <img src="{{ asset('img/peaky-blinder.webp') }}" alt="Peaky Blinders">
        </div>
    </div>
{% endblock %}
