{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-title">Passwort ändern</h1>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="card card-blue">
                    <div class="card-body">
                        <form method="POST">
                            <div class="mb-3">
                                <label for="new-password" class="form-label">Neues Passwort:</label>
                                <input type="password" id="new-password" name="new-password" class="form-control" required/>
                            </div>
                            <div class="mb-3">
                                <label for="new-password-repeat" class="form-label">Neues Passwort wiederholen:</label>
                                <input type="password" id="new-password-repeat" name="new-password-repeat" class="form-control" required/>
                            </div>
                            <button type="submit" class="btn btn-primary">Ändern</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}